.vcontent{
  animation vcontent .5s
  position absolute
  will-change: top
}
@keyframes vcontent
{
from {
 left: 100%;
 }
to {
  left: 0;
 }
}

@-webkit-keyframes vcontent
{
from {
 left: 100%;
 }
to {
  left: 0;
 }
}
@keyframes listKe
{
from {
 opacity:0;
 }
to {
 opacity:1;
 }
}

@-webkit-keyframes listKe
{
from {
 opacity:0;
 }
to {
 opacity:1;
 }
}
// 主页面过渡
.fade-enter-active {
  animation: fadeAni 0.2s ease-in
}
.fade-leave-active {
  animation: fadeAni-l 0.2s ease-in
}
@keyframes fadeAni {
  0%{
    transform: translateY(-100%)
    }
  100%{
    opacity 1
    }
  }

@keyframes fadeAni-l {
  0%{
    left 0
    }
  100%{
    transform: translatey(100%)
    }
}
// main页面子路由过渡
.main-enter-active{
  animation: main-anin 0.2s ease
}
.main-leave-active{
  animation: main-anileave 0.2s ease
}
@keyframes main-anin{
  0%{
    transform: translateX(100%)
    }
  100%{
    left 0
    }
}
@keyframes main-anileave{
  0%{
    left 0
    }
  100%{
    transform: translateX(100%)
    }
}