// $baseColor = #673AB7; // 主题色一
// $themeColor = #512DA8; // 主题色二
// $baseColor = #1890ff; // 主题色二
// themeColor = #1890ff
// hoverColor = #40a9ff
// $blackFont = #212121;// 黑色字体
// $borderColor = #212121;// 边框颜色
// $backgroundColorO = #FFFFFF;// 背景色一
// $backgroundColorT = #FFFFFF;// 背景色二
// $backgroundColorR = #FFFFFF;// 背景色三
// $buttonColor = #009688;// 
// $borderColor = #ddd
// $titleFontSize = .26rem;
// $descFontSize = .24rem;
// successColor = rgb(82, 196, 26)  //成功颜色
// errorColor = rgb(229, 64, 79) //错误颜色
// warningColor = rgb(255, 142, 20) // 警告色
// // $leftBar = #673AB7  // 左侧导航栏颜色
// $leftBar = #aaaaaa  // 左侧导航栏颜色

// $barWidth = 60px  // 左侧导航栏宽度
baseColor = #7abd9a
wordColor = #666
bgColor = #f7f7f7
// $basecolor = #3F51B5 // 主题色
$headercolor = #303F9F  // header主题色
$bgcolor = #FFFFFF // 背景色
$backcolor = #f8f8f8
$iconcolor = #757575 // 图标色
$fontcolor = #212121 //字体色
$fontlesscolor = #757575 // 二级字体色
$infofontcolor = #BDBDBD // 三级字体色
$elsecolor = #607D8B // 预留色
$errcolor = rgb(229, 64, 79) // 危险色
$warncolor = rgb(255, 142, 20) // 警告色
$successcolor = #4CAF50 // 成功色
$headerheight = 50px
$toastbgcolor = rgba(0,0,0,0.7)
$maskColor = rgba(0,0,0,0.8)
$proiconcolor = #f30213